@media screen and  (max-width:136.5rem){
    .Info{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30rem;
    }
    .area{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Img1{
        width: 48rem;
    }
    .paraTexto{
        width: 60%;
        padding: 4.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo{
        font-family: Fredoka One;
        font-size: 40px;
        font-weight: 400;
        line-height: 77px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1.5%;
    
    }
    .parrafo{
        font-family: 'Didact Gothic', sans-serif;
        font-size: 25.2px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0em;
        text-align:justify;
    }
    .largo{
        background-image: url("https://i.postimg.cc/xCcnTk2p/amarill.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .CuadroImg{
        width: 85%;
        height:40rem;
        margin-top: 8%;
        position: absolute;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: aqua;
    }
    .ImgFrente{
        width: 100%;
        background-color: rgb(8, 62, 62);
    }
    .ImgFrente2{
        width: 100%;
        background-color: blue;

        
    }
    .TextoEncima{
        width: 90%;
        font-size: 28px;
        height: auto;
        padding: 1.5%;
        margin: auto;
        font-family: 'Didact Gothic', sans-serif;
        margin-top: 53rem;

    }    
}